# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = shrekbot_data_scraper.settings

# Change to using the more powerful ipython shell
shell = ipython

[deploy]
#url = http://localhost:6800/
project = shrekbot_data_scraper
